.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Footer {
  background-color: black;
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  
}